---
layout: layouts/base.njk
---

    {% include "partials/site-head.njk" %}


    <div class="h-vsm w-full bg-gray-300 dark:bg-gray-500">
    </div>
    
<div class="w-full max-w-full mx-auto my-auto">

  <div class="w-full bg-bggray-dark dark:bg-bgblue">

    <div class="max-w-8xl mx-auto gap-4 h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2 ">

      <div class="grid grid-cols-12">

        <div class="col-span-12 md:col-span-8 lg:col-span-7 py-4 md:py-4 lg:py-12">


          <h1 class="text-gray-800 dark:text-gray-100 text-4xl lg:text-5xl font-OpenSauceSans font-bold tracking-tighter min-w-8xl leading-vtight lg:leading-vtight pb:4 md:pb-8">
          <span class="text-fred leading-vtight font-Newsreader font-normal italic text-4xl lg:text-5xl dark:text-fgreen">Product Designer</span> 
          with a knack for solving <span class="text-fred leading-vtight font-Newsreader font-normal italic text-4xl lg:text-5xl dark:text-fgreen">high-impact</span>  problems. 
          </h1>

          <article class="prose max-w-none dark:prose-dark pt-8 pr-0 md:pr-8 lg:pr-12">
          {{ content | safe }}
          </article>

        </div>

 

        <div class="col-span-12 space-y-4 md:col-span-4 lg:col-span-5 py-4 md:py-4 lg:py-12 divide-y divide-gray-800">


        <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-700 dark:text-gray-200 font-bold font-inter py-4" > Latest Writing ↓ </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-lg border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-gray-800 dark:text-gray-100 hover:text-fred dark:hover:text-fgreen md:text-xl">
              Notion Blog
          </a>
        </div>

         <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-700 dark:text-gray-200 font-bold font-inter py-4" > Latest Writing ↓ </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-lg border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-gray-800 dark:text-gray-100 hover:text-fred dark:hover:text-fgreen md:text-xl">
              Notion Blog
          </a>
        </div>

        <p class="w-[200px] text-[12px] uppercase tracking-wide md:text-sm text-gray-700 dark:text-gray-200 font-bold font-inter py-4" > Latest Writing ↓ </p>

        <div class="pb-2 ">
          <a href="https://www.notion.so/blog" class=" pt-2 text-lg border-b border-b-gray-300 dark:border-b-gray-700  md:hover:border-b hover:border-opacity-40 
              md:hover:border-b-fred md:dark:hover:border-b-fgreen font-bold tracking-tight font-OpenSauceSans text-gray-800 dark:text-gray-100 hover:text-fred dark:hover:text-fgreen md:text-xl">
              Notion Blog
          </a>
        </div>






        </div>



      </div>

    </div>

  </div>

  

  <div class="max-w-8xl mx-auto h-auto py-4 md:py-4 px-4 lg:px-12 xl:px-12 2xl:px-2 
      md:divide-fred md:divide-y md:divide-dashed md:divide-opacity-80 md:dark:divide-fgreen md:dark:divide-y md:dark:divide-dashed md:dark:divide-opacity-80">



{% block featuredWork %}
  {% include 'partials/featured-work.njk' %}
{% endblock featuredWork %}

{% block featuredWork2 %}
  {% include 'partials/featured-work.njk' %}
{% endblock featuredWork2 %}

{% block featuredWriting %}
  {% include 'partials/featured-writing.njk' %}
{% endblock featuredWriting %}

{% block featuredBookmarks %}
  {% include 'partials/featured-bookmarks.njk' %}
{% endblock featuredBookmarks %}

  </div>

</div>
